.statusOff,
.statusOn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.statusOff {
    background-color: #ff5867;
}

.statusOn {
    background-color: #86ee82;
}
