.clientAppForm {
    position: relative;
}

.buttonGroup {
    margin-top: 15px;
    margin-left: 15px;
}

.form {
    padding-bottom: 30px;
}

.container {
    margin-left: 15px;
    background-color: #f8f8f8;
    padding: 20px;
    margin-right: 30px;
}

.container :global(.ant-row:last-child .ant-form-item) {
    margin-bottom: 0;
}

.mrt {
    margin-top: 15px;
}
