.label {
    visibility: visible;
    position: absolute;
    bottom: 26px;
    transition: transform .1s ease-out;
}

.hide {
    visibility: hidden;
}

.input {
    border: none;
    outline: none;
    width: 100%;
}

.field {
    border-bottom: 1px solid #eaeaf2;
    position: relative;
}

.field_active {
    border-bottom: 1px solid #068746;
}

.field_error {
    border-bottom: 1px solid #f6650a;
}

.icon {
    position: absolute;
    top: 40%;
    right: 0;
}

.label_empty {
    transform: translateY(0);
}

.label_active {
    color: #068746 !important;
}

