.wrapper {
    padding: 25px 30px;
    background-color: #f8f8f8;
}

.columnWrapper {
    background-color: #fff;
}

.form {
    display: flex;
    align-items: flex-start;
}

.form > div:nth-child(2) {
    margin-right: 10px;
}

.form.columnForm {
    flex-direction: column;
    align-items: stretch;
}

.form.columnForm > div:nth-child(2) {
    margin-right: 0;
}

.label {
    min-width: fit-content;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.visibility {
    flex-basis: 30%;
    margin-top: 35px;
}

.error {
    color: tomato;
    margin-top: 8px;
}
