.modalBody {
    overflow-y: auto;
    max-height: 500px;
}

.okButton:global(.ant-btn-primary) {
    background-color: #2ac673;
    border: none;
}

.failed {
    color: #ec454d;
    font-size: 15px;
}

.list {
    list-style: decimal;
    margin-left: 12px;
}

.cancelButton:global(.ant-btn:hover),
.cancelButton:global(.ant-btn:focus) {
    border-color: #21ba72;
    color:#21ba72;
}

