.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    padding: 22px 15px 16px;
    border-bottom: 1px solid #e5e8eb;
}

.promoContainer {
    display: flex;
}

.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.38px;
    margin-bottom: 15px;
}

.infoTitle {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.3px;
}

.infoText {
    font-size: 14px;
    color: #4e4e4e;
}

.infoDetail {
    margin: 10px 0;
}

.containerStep {
    padding: 0 15px;
}

.container {
    background-color: #f8f8f8;
    padding: 20px 30px;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.checkbox {
    margin: 10px 0;
}

.status {
    display: inline-block;
    padding: 5px 16px;
    background-color: rgba(9, 165, 82, 0.08);
    color: #09a552;
    border-radius: 25px;
    text-align: center;
}

.redStatus {
    background-color:  #fff1f0 !important;
    color: #dc283a !important;
}

.webLink {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    overflow: hidden;
}

.buttonGroup {
    margin-top: 15px;
}

.buttonGroup button:not(:last-child) {
    margin-right: 15px;
}

.promoContainer :global(.ant-btn-primary) {
    background-color: #09a552;
    border-color: #09a552;
}

.deleteBtn:global(.ant-btn-primary) {
    background-color: #dd283b;
    border-color: #dd283b;
}