.dropdown {
    position: relative;
}

.dropdownButton {
    border-radius: 2px !important;
    display: flex;
    align-items: center;
}

.dropdownButton,
.dropdownButton:hover,
.dropdownButton:focus {
    background-color: #f8f8f8;
    color: #171725;
    border-color: #f8f8f8;
}

.dropdownButton span[role='img'] {
    color: #c2c8d1;
}

.dropdownButton :global(.anticon.anticon-down) {
    font-size: 16px;
    width: 14px;
}

.dropdownMenu {
    position: absolute;
    bottom: 100%;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 0.3s;
    background-color: #f8f8f8;
}

.dropdownMenu.open {
    max-height: 100px;
}

.dropdownLinkWrapper {
    padding: 5px 0;
}

.dropdownLinkWrapper a {
    display: block;
    font-size: 14px;
    padding: 4px 15px;
    color: #171725;
    background-color: transparent;
    transition: background-color 0.3s;
}

.dropdownLinkWrapper a:hover {
    color: #21ba72;
}
