.menu {
    display: flex;
}

.menu__item {
    text-decoration: none;
    flex: 1;
    font-family: SBSansText, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #000014;
}