.description table{
    width: 100% !important;
    border-collapse: collapse;
}

.description table {
   border: #000014;
}
.description table tr td{
   background-color: white;
}
.description table tr th{
    font-weight: bold;
}
