/* select */
.select {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    display: flex;
    height: 40px;
    transition: border 0.3s;
}

.select :global(.ant-select-selector) {
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: none;
    width: 100%;
}

.select :global(.ant-select-arrow .anticon:not(.ant-select-suffix):not([aria-label='close'])) {
    pointer-events: none;
}

.select:global(.ant-select-open .anticon:not([aria-label='close'])) {
    transform: rotate(-180deg);
}

.select :global(.ant-select-selection-item) {
    background-color: transparent;
    border: none;
}

.select :global(.ant-select-selection-search-input) {
    display: none;
}

.select :global(.ant-select-selection-overflow) {
    max-width: 85%;
}

.select:active,
.select:focus,
.select:hover {
    border-color: #09a552;
}

.select :global(.ant-select-selection-overflow) {
    max-width: 85%;
}

.select:global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector) {
    border-color: #09a552;
}

.select :global(.ant-select-selection-search-input) {
    display: none;
}

.select:global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
    border: none;
}

.select:global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
        .ant-select-selector) {
    border-color: #09a552;
}
/*  /select */

/* tagSelect */
.tagSelect {
    padding: 4px 10px;
    background-color: rgba(9, 165, 82, 0.08);
    color: #09a552;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.tagSelect:global(.ant-select-selection-overflow-item) {
    margin-left: 5px;
}

.tagSelect:global(.ant-select-selection-overflow-item:first-child) {
    margin: 0;
}

.tagSelect > p {
    margin-right: 3px;
}

.tagSelect:global(.ant-select-selection-overflow-item) {
    margin-left: 5px;
}

.tagSelect:global(.ant-select-selection-overflow-item:first-child) {
    margin: 0;
}
/* /tagSelect */

/* dropdown */
.dropdown :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background: transparent;
    background-color: transparent;
}

.dropdown :global(.ant-checkbox-indeterminate .ant-checkbox-inner::after) {
    background-color: #09a552;
}

.dropdown :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: #09a552 !important;
    border-color: #09a552 !important;
}

.dropdown :global(.ant-checkbox-input:hover + .ant-checkbox-inner),
.dropdown :global(.ant-checkbox-input:focus + .ant-checkbox-inner),
.dropdown :global(.ant-checkbox-input:active + .ant-checkbox-inner) {
    border-color: #09a552 !important;
}

.dropdown :global(.ant-select-item-option-state) {
    display: none;
}
/* /dropdown */

.selectText {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.arrowActive {
    transform: rotate(180deg);
}

.mrr {
    margin-right: 10px;
}

.icon {
    margin: 0 5px;
    font-size: 15px;
}
.closeIcon {
    display: flex;
    align-items: center;
}

.suffixBlock {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
}

.tagPlaceholder {
    order: 1;
    display: flex;
    width: 100px;
    margin-left: 5px;
    justify-content: space-between;
    background-color: transparent;
}
.selectedCount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 165, 82, 0.08);
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 28px;
    border-radius: 16px;
    background-color: rgba(9, 165, 82, 0.08);
    margin-left: 10px;
    text-align: center;
    border-radius: 40%;
    color: #09a552;
}
