.btnGreen {
    color: white;
    background-color: #09a552;
    border-color: #09a552;
    border: 1px solid transparent !important;
}

.btnRed {
    border-color: #ec454d;
    background-color: #ec454d;
    color: white;
    border: 1px solid transparent !important;
}

.btnGray {
    color: white;
    background-color: #333f48;
    border-color: #333f48;
    border: 1px solid transparent !important;
}

.greyButton {
    background-color: #EDEEEF;
    color: #000000;
    box-shadow: none;
    border: 1px solid transparent !important;
}

.btnMT {
    margin-top: 15px !important;
}

.link:hover {
    color: #000000;
}

.addButton {
    margin: 0 5px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 4px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.firstButton {
    margin-left: 0 !important;
}

.addButton:disabled,
.addButton[disabled] {
    background-color: #e0e2eb;
    color: #777777;
    outline: none;
    box-shadow: none;
    cursor: default;
}
