.dzoWrapper {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 60px 0px 15px;
}

.infoWrapper {
    padding: 30px;
    background-color: #f8f8f8;
    margin-bottom: 25px;
}

.dzoInfo {
    max-width: 800px;
}

.title {
    margin-bottom: 6px;
}

.dzoTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.38px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.text {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer {
    margin-bottom: 25px;
}

.bannersRow {
    padding: 26px 0 46px;
}

.infoTitle {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.3px;
}

.dzoInfoRow {
    margin-bottom: 26px;
}