.container {
    margin-left: 15px;
    background-color: #f8f8f8;
    padding: 20px 20px 8px;
    margin-right: 30px;
}

.wrapper {
    position: relative;
}

.buttonGroup {
    margin-bottom: 15px;
    margin-left: 15px;
}

.form {
    padding-bottom: 30px;
}

.container > div {
    align-items: flex-start !important;
}

.coffee {
    background-image: linear-gradient(
            232.36deg,
            #EAEF00 -4.19%,
            #CBEA0A 5.24%,
            #9CDD16 16.91%,
            #5DCA23 30.18%,
            #00B944 42.72%,
            #00A3A7 56.96%,
            #009BC5 64.66%,
            #0489D6 76.22%,
            #047FCF 83.71%,
            #0073C8 101.21%
    );
}

.default {
    background-image: linear-gradient(
        228.35deg,
        #eaef00 7.94%,
        #cbea0a 15.79%,
        #9cdd16 21.25%,
        #5dca23 28.58%,
        #00b944 38.54%,
        #00a3a7 57.42%,
        #009bc5 64.31%,
        #0096d3 67.8%,
        #018fdb 72.33%,
        #0489d6 76.41%,
        #047fcf 82.5%,
        #0073c8 87.4%,
        #0051b7 99.87%
    );
}

.defenderFatherlandDay {
    background-image: linear-gradient(
        262.6deg,
        #9cdd16 -9.99%,
        #84e73b 7.47%,
        #7dea44 13.24%,
        #18cd6d 32.14%,
        #06ac9a 43.29%,
        #00a3a7 51.61%,
        #00a0b2 57.73%,
        #0098b6 67.72%,
        #0073c8 90.72%
    );
}

.greenDay {
    background-image: linear-gradient(270deg, #02436D -12.37%, #2BA54D 15.56%, #27A844 33.94%, #056690 69.98%, #062C48 103.58%);
}

.summer {
    background-image: linear-gradient(239.39deg, #ffeb37 -8.62%, #ff9839 36.53%, #fd6f4c 58.9%, #eb0457 90.81%);
}

.victoryDay {
    background-image: linear-gradient(
        269.16deg,
        #9cdd16 -22.29%,
        #7dea44 -0.03%,
        #1dd661 17.89%,
        #00a3a7 94.22%,
        #009bc5 133.03%,
        #0073c8 153.43%
    );
}

.womensDay {
    background-image: linear-gradient(226.93deg, #ffeb37 5.76%, #ff8c39 52.43%, #f01d71 99.68%);
}


