.dzoPageWrapper {
    margin: 0 auto;
    padding-top: 30px;
    width: 96%;
    max-width: 1080px;
    font-family: inherit;
}

.dzoList > div:not(:last-child) {
    margin-bottom: 30px;
}

.dzoPageWrapper h3 {
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 20);
}

.dzoPageWrapper .headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.dzoPageWrapper .loadingLabel {
    position: relative;
}

.dzoPageWrapper .loadingLabel:after {
    position: absolute;
    content: '';
    animation: dots 1.6s infinite;
}

.modalForm {
    position: relative;
    padding: 40px 40px 80px 40px;
    height: calc(100vh - 300px);
    overflow-y: auto;
}

.modalAppForm {
    position: relative;
    padding: 40px 40px 80px 40px;
    height: 150px;
    overflow-y: auto;
}

.modalForm .crossSvg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
}

.modalAppForm .crossSvg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
}

.modalForm .imageUploadContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 4px 0 4px;
    color: rgba(0, 0, 0, 0.55);
}

.modalForm .imageUploadContainer > label {
    padding-bottom: 7px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-transform: uppercase;
}

.modalForm .imageUpload {
    padding: 14px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-align: center;

    border: 1px solid #bcbcbc;
    border-radius: 1px;
    background-color: #f7f7f7;
}


@keyframes dots {
    0% { content: '' }
    25% { content: '.' }
    50% { content: '..' }
    75% { content: '...' }
    100% { content: '' }
}
.container {
    position: relative;
    height: 250px;
    margin: 100px auto 0;
    width: 50%;
}

.dzoForm {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0px 5px;
}

.dzoForm__field {
    padding-top: 18px;
}

.dzoForm__field input {
    display: block;
    height: 20px;
    margin-bottom: 3px;
    bottom: 6px;
    padding-left: 2px;
    width: calc(100% - 30px);
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
}

.dzoForm__field label {
    display: block;
    bottom: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.55);
}

.dzoForm__field__activeLabel {
    font-size: 14px;
    transform: translateY(calc(-1 * 26px));
    -ms-transform: translateY(calc(-1 * 26px));
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

.dzoForm__button {
    position: absolute;
    top: 710px;
    padding: 5px 30px;
}

.error {
    margin-top: 10px;
    color: #f6650a;
    font-family: Roboto, sans-serif;
}

.appForm {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.appForm__field {
    margin-bottom: 18px;
    padding-top: 18px;
}

.appUrl {
    width: 100%;
    padding: 0;
    margin: 0;
}
.appForm__field input {
    display: block;
    height: 20px;
    margin-bottom: 8px;
    bottom: 6px;
    padding-left: 2px;
    width: calc(100% - 30px);
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
}

.appForm__field label {
    display: block;
    bottom: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.55);
}

.appForm__field__activeLabel {
    font-size: 14px;
    transform: translateY(calc(-1 * 26px));
    -ms-transform: translateY(calc(-1 * 26px));
}

.appForm__button {
    position: absolute;
    top: 240px;
    padding: 5px 30px;
}

.appForm__field input:invalid {
    border-bottom: 1px solid #f6650a;
}

input[type="text"]:disabled {
    background: #ccc;
    width: 100%;
}

input[type="text"]:disabled + div > svg {
    display: none;
}

