.textArea {
    margin-bottom: 10px;
    max-height: 80px;
}

.detail {
    color:#b5b5b5;
}

.textBlock :global(.ant-form-item) {
    margin-bottom: 0;
}

.textBlock :global(div[role = 'alert']) {
    margin-top: 5px;
}