.wrapper {
    width: 100%;
    height: 100%;
}

.promoCreateContainer {
    display: flex;
}

.containerControl {
    position: sticky;
    top: 63px;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e8eb;
}

.containerControl.noMargin {
    margin-bottom: 0;
}

.headerTitle {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.38px;
    font-weight: 600;
}

.headerSteps {
    font-size: 16px;
    color: #868d98;
    margin-bottom: 10px;
}

.btnMR {
    margin-right: 15px;
}

.error {
    margin-top: 10px;
    color: tomato;
}

.loadingWrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.loading {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
}

.containerStep {
    padding: 0 15px;
}

.containerStep :global(.ant-form-item-label) {
    text-align: left;
    overflow: visible;
}