.title {
    font-family: SBSansText-Medium;
    margin-top: 0;
    font-size: 16px;
    color: #657182;
}

.item {
    font-family: SBSansText-Medium;
    font-size: 16px;
    min-height: 22px;
    color: #171725;
}

.switch {
    text-align: right;
}

.table :global(.ant-table) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.table :global(.ant-table-tbody > tr > td) {
    border-bottom: none;
    padding: 15px;
}

.table :global(.ant-table-tbody td:first-child) {
    padding-left: 25px;
}

.table :global(.ant-table-tbody td:last-child) {
    padding-right: 25px;
}

.table :global(.ant-checkbox-checked:after),
.table :global(.ant-checkbox-checked .ant-checkbox-inner) {
    border: none;
}

.table :global(.ant-table) {
    border-radius: 5px;
}

.table :global(.ant-table-tbody > tr:hover) {
    cursor: pointer;
}

.table :global(.ant-select-focused:not(.ant-select-disabled).ant-select-single .ant-select-selector),
.table :global(.ant-pagination-options-quick-jumper input:focus) {
    box-shadow: none !important;
}
