.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    border-top: 1px solid #f0f0f0;
    margin: 0 0 10px;
    padding: 10px 15px;
}

.rowCountLabel {
    color: #a2a7ab;
}

.btnPagination,
.selectPagination {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.selectPagination {
    margin-left: 10px;
    margin-right: 20px;
}

.space {
    margin:  0 20px;
}

.container :global(.ant-select-single:not(.ant-select-customize-input) .ant-select-selector) {
    border: none;
}

.container :global(.ant-select-arrow) {
    height: 20px;
    width: 20px;
    font-size: 16px;
    right: 5px;
    top: 43%;
    color: #5a5a5a;
}
