.dzoItem {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: Tahoma, sans-serif;
    border-radius: 4px;
    background-color: #fff;
}

.dzoActions {
    display: flex;
    justify-content: flex-end;
}

.dzoActions > button {
    margin-left: 20px;
}

.dzoItem .textFieldFormat {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
