.tableWrapper {
    padding: 20px;
}

.cellRight {
    text-align: right;
    width: 100%;
}

.tableTitle {
    color: #697382;
    font-family: Roboto, sans-serif;
}

.tableCell {
    font-weight: 700;
}

.blocked {
    border-radius: 50px;
    background-color: #fff1f0;
    color: #d43847;
    padding: 5px 15px;
    display: inline-block;
}

.active {
    border-radius: 50px;
    background-color: rgba(9, 165, 82, 0.08);
    color: #09a552;
    padding: 5px 15px;
    display: inline-block;
}

/* GLOBALS */
.table :global(.ant-table) {
    color: #171725;
}

.table :global(.ant-table-tbody > tr:hover td) {
    cursor: pointer;
    background-color: #f8f8f8;
}

.table :global(.ant-table-tbody > tr > td) {
    border-bottom: none;
}

.table :global(.ant-select-focused:not(.ant-select-disabled).ant-select-single .ant-select-selector),
.table :global(.ant-pagination-options-quick-jumper input:focus) {
    box-shadow: none;
}

/* GLOBALS */
