.content {
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
}

.article {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.description {
    font-size: 16px;
    color: #9ca3ac;
    letter-spacing: -0.3;
}

.buttonsContainer {
    display: flex;
    margin-top: 15px;
}

.buttonsContainer > button {
    margin-right: 5px;
}

.buttonsContainer a {
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    color: #000000;
    background-color: #EDEEEF;
}

.buttonsContainer a:hover {
    color: #000000;
}
