.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    padding: 0px 60px 0px 15px;
}

.loadingContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(25%, -50%);
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.38px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.error {
    margin-top: 5px;
    color: #dd283b;
}

.btnGroup {
    margin: 24px 0;
}

.btnGroup > button {
    margin-right: 12px;
}

.mainInfoRow {
    max-width: 750px;
}

.uploadImage {
    max-width: 250px;
}

.formWrapper > form > div:last-child :global(.ant-form-item) {
    margin-bottom: 0px;
}