.container {
    color: #494949;
    padding: 20px;
    min-width: 500px;
}

.container h4 {
    color: #ababad;
    font-size: 12px;
}

.header {
    margin-bottom: 25px;
}

.pageTitle {
    font-size: 20px;
    font-weight: 600;
}

.formContainer {
    width: 100%;
    background-color: #f7f7f7;
    padding: 25px 25px 46px 25px ;
    margin-bottom: 15px;
}

.form {
    display: flex;
    align-items: baseline;
    max-width: 900px;
}

.form > div {
    flex-basis: 50% !important;
}

.formError {
    margin-top: 15px;
    color: #ec464e;
}

.buttonsContainer button:not(:last-child) {
    margin-right: 15px;
}

.buttonsContainer :global(.ant-btn[disabled]) {
    color: #ebe8e8 !important;
}

.select {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    min-width: 240px;
    max-width: 300px;
}

.select label {
    margin-bottom: 8px;
}
