.container {
    width: 100%;
    color: #494949;
    padding: 25px;
}

.container label {
    color: #494949;
}

.container h4 {
    color: #ababad;
    font-size: 12px;
}

.pageWrapper {
    min-width: 500px;
}

.pageTitle {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #171725;
}

.userStatus {
    display: flex;
    margin-left: 5px;
}

.error {
    margin-top: 10px;
    color: #ff4d4f;
}

.formStyle {
    background-color: #f7f7f7;
    padding: 25px 25px 56px 25px ;
    margin-bottom: 15px;
}

.checkboxesWrapper {
    background-color: #f7f7f7;
    padding: 25px;
}

.loginContainer {
    flex-basis: 30%;
    margin-right: 10px;
}

.hasError {
    border-color: #ff4d4f;
}

.formError {
    margin-top: 15px;
    color: #ff4d4f;
}

.checkBoxesCol {
    min-width: 250px;
    display: flex;
}

.noEditField {
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    white-space: nowrap;
}

.labelCol {
    min-height: 40px;
    flex-basis: 40%;
}

.buttonsContainer {
    display: flex;
    margin-top: 25px;
}

.buttonsContainer button:not(:last-child) {
    margin-right: 15px;
}

.buttonsContainer :global(.ant-btn[disabled]) {
    color: #ebe8e8 !important;
}

.formWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 1100px;
}

.formWrapper :global(.ant-input-affix-wrapper:hover),
.formWrapper :global(.ant-input-affix-wrapper:focus),
.formWrapper :global(.ant-input-affix-wrapper-focused) {
    border-color: #21ba72;
    box-shadow: 0 0 0 1px rgba(141, 220, 183, 0.2);
}

.title {
    margin-bottom: 25px;
    color: #494949 !important ;
    font-size: 17px !important;
}

.loginInput {
    margin-top: 8px;
    min-width: 200px;
    max-width: 250px;
    max-height: 32px;
}

.suffixStyle {
    cursor: pointer;
}

.copyable :global(.ant-typography-copy) {
    color: #09a552;
}

.status {
    padding: 5px 16px;
    background-color: rgba(9, 165, 82, 0.08);
    color: #09a552;
    margin-left: 15px;
    border-radius: 25px;
}