.container {
    width: 100%;
    color: #494949;
    padding: 25px;
}

.container label {
    color: #494949;
    margin-bottom: 8px;
}

.container h4 {
    color: #ababad;
    font-size: 12px;
}

.pageTitle {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #171725;
    min-height: 38px;
}

.status {
    padding: 5px 16px;
    background-color: rgba(9, 165, 82, 0.08);
    color: #09a552;
    margin-left: 15px;
    border-radius: 25px;
    font-size: 18px;
}

.userStatus {
    display: flex;
    margin-left: 5px;
}

.error {
    color: #ff4d4f;
}

.formStyle {
    background-color: #f7f7f7;
    padding: 28px 25px ;
    margin-bottom: 15px;
}

.checkboxesWrapper {
    background-color: #f7f7f7;
    padding: 25px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.hasError {
    border-color: #ff4d4f;
}

.formError {
    margin-top: 15px;
    color: #ff4d4f;
}

.checkBoxesCol {
    min-width: 250px;
    display: flex;
}

.noEditField {
    display: flex;
    align-items: center;
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    min-height: 32px;
    max-width: 300px;
}

.labelCol {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    min-height: 40px;
    max-width: unset;
}

.roleBlock {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-width: unset;
}

.buttonsContainer {
    display: flex;
    margin-top: 25px;
}

.buttonsContainer button:not(:last-child) {
    margin-right: 15px;
}

.buttonsContainer :global(.ant-btn[disabled]) {
    color: #ebe8e8 !important;
}

.formWrapper {
    align-items: baseline;
    width: 100%;
    max-width: 1100px;
}

.title {
    margin-bottom: 25px;
    color: #494949 !important ;
    font-size: 17px !important;
}

.loginInput,
.selectInput {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    max-height: 32px;
}

.suffixStyle {
    cursor: pointer;
}

.copyable :global(.ant-typography-copy) {
    color: #09a552;
}
