.wrapper {
    padding: 20px;
    background-color: #ffffff;
    letter-spacing: -0.3px;
}

.headerTitle {
    font-family: SBSansText;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.38px;
    color: #171725;
    margin-bottom: 16px;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.crossIcon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.buttons {
    display: flex;
}

.buttons > button {
    margin-right: 10px;
}

.buttons > :global(.ant-input-affix-wrapper) {
    min-width: 250px;
}

.buttons > :global(.ant-input-affix-wrapper) span[role='img'] {
    color: #c2c8d2;
}
