.formColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    vertical-align: top;
    justify-content: space-between;
    flex-basis: 37.5%;
}

.salePointColumn {
    margin-top: 20px;
}

.formLabel {
    min-width: 120px;
    margin-bottom: 8px;
}

.autocompleteInput {
    width: 100%;
    min-width: 240px;
    max-width: 300px;
}

.autocompleteInputColumn {
    max-width: none;
}

.autocompleteInput :global(.ant-input-affix-wrapper:hover),
.autocompleteInput :global(.ant-input-affix-wrapper:focus),
.autocompleteInput :global(.ant-input-affix-wrapper-focused) {
    border-color: #09a552;
    box-shadow: 0 0 0 1px rgba(141, 220, 183, 0.2);
}

.autocompleteInput :global(.ant-select-clear) {
    top: 10px;
    right: 20px !important;
    opacity: 1 !important;
}

.autocompleteInput :global(.ant-input-affix-wrapper) {
    transition: all 0.3s ease, padding 0s;
}

.autocompleteInput.hideSuffix :global(.ant-input-affix-wrapper) {
    padding-right: 30px;
}

.autocompleteOption {
    min-height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suffix {
    color: #aaafb2 !important ;
}

.optionParentName {
    font-size: 12px;
    color: #aaafb2;
}

div.autocompleteDropdown {
    border-radius: 6px;
    padding: 10px 5px;
}

div.autocompleteDropdown :global(.rc-virtual-list-holder)::-webkit-scrollbar-thumb {
    background-color: #333f48;
    border-radius: 10px;
}

div.autocompleteDropdown :global(.rc-virtual-list-holder)::-webkit-scrollbar {
    width: 5px;
}

div.autocompleteDropdown :global(.rc-virtual-list-holder)::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

div.autocompleteDropdown :global(.ant-select-item) {
    border-bottom: 1px solid #e8e9ed;
}

.highlight {
    color: #09a552;
}

.formError {
    margin-top: 10px;
    color: #ec464e;
}

.formError {
    margin-top: 10px;
    color: #ec464e;
}

.inputWrapper {
    margin-right: 10px;
}

.inputWrapperColumn {
    margin-right: 0;
}

.hasError :global(.ant-input-affix-wrapper) {
    border-color: #ec464e;
}

.formLabel :global(.ant-input-affix-wrapper:hover),
.formLabel :global(.ant-input-affix-wrapper:focus),
.formLabel :global(.ant-input-affix-wrapper-focused) {
    border-color: #09a552;
    box-shadow: 0 0 0 1px rgba(141, 220, 183, 0.2);
}

.formLabel :global(.ant-input-suffix) {
    color: #c0c0c0;
    cursor: auto;
}

.hideSuffix :global(.ant-input-suffix) {
    display: none;
}

.formLabel > label {
    white-space: nowrap;
}
