html, body {
    min-width: 800px;
    font-family: SBSansText, sans-serif;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
}

.required::before {
    content: '*';
    color: #ec464e;
    margin-right: 3px;
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #09a552 !important;
    border-color: #09a552 !important;
    color: #ffffff !important;
}

.ant-btn:hover,
.ant-btn:focus {
    border-color: #09a552 !important;
    color: #09a552;
}

.ant-btn-danger,
.ant-btn-danger:hover,
.ant-btn-danger:focus,
.ant-btn-dangerous.ant-btn-primary,
.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {
    background-color: #dd283b !important;
    border-color: #dd283b !important;
}

/*.ant-btn-ghost,*/
/*.ant-btn-ghost:hover,*/
/*.ant-btn-ghost:focus {*/
/*    background-color: white;*/
/*    color: #333f48;*/
/*    border: 1px solid #d9d9d9 !important;*/
/*}*/
