.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tableWrapper {
    padding: 20px;
    background-color: #f0f2f5;
    flex-grow: 1;
}

.checked {
    font-weight: bold;
}

.checked > button {
    margin-left: 10px;
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    background-color: #ffffff;
    min-height: 72px;
}
