.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    width: 96%;
    max-width: 1080px;
    padding: 0 2%;
}

.header > div:first-child {
    width: 40%;
    max-width: 300px;
}

.logout {
    cursor: pointer;
}
