.formContainer {
    width: 100%;
    max-width: 800px;
}

form.form {
    padding: 50px;
}

form.form.hasError input {
    border-color: #ec464e;
}

form.form label::after {
    content: none;
}

form.form input {
    border-radius: 7px;
    caret-color: #21ba72;
}

form.form input:hover {
    border-color: #21ba72;
}

form.form input:focus {
    border-color: #21ba72;
    box-shadow: none;
}

.form button:not(:last-child) {
    margin-right: 15px;
}

.switch {
    background-color: #21ba72 !important;
}

.cancelButton {
    height: 45px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-transform: uppercase;
    background: #333f48 !important;
    border-color: #333f48 !important;
}

.cancelButton:hover,
.cancelButton:focus {
    background: #43525d !important;
    border-color: #43525d !important;
}

.submitButton {
    height: 45px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-transform: uppercase;
    background: #21ba72 !important;
    border-color: #21ba72 !important;
}

.submitButton:hover,
.submitButton:focus {
    text-transform: uppercase;
    background: #1fac6a !important;
    border-color: #1fac6a !important;
}

.formError {
    color: #ec464e;
}
