.container {
    width: 100%;
}

.pageTitle {
    font-family: SBSansText;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.38px;
    margin-bottom: 25px;
}

.formContainer {
    width: 100%;
    padding: 25px 15px;
}

.switch {
    background-color: #09a552 !important;
}

.cancelButton {
    height: 35px !important;
    width: 120px !important;
}

.submitButton {
    height: 35px !important;
    width: 120px !important;
    background: #09a552 !important;
    border-color: #09a552 !important;
}

.cancelButton:hover,
.cancelButton:focus {
    border-color: #1fac6a !important;
    color: #1fac6a !important ;
}

.submitButton:hover,
.submitButton:focus {
    background: #1fac6a !important;
    border-color: #1fac6a !important;
}

.formError {
    color: #ec464e;
}

.buttons {
    margin-top: 25px;
}

.buttons button:not(:last-child) {
    margin-right: 15px;
}
