.container {
    width: 100%;
}

.pageTitle {
    font-family: SBSansText-Regular, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.38px;
    margin-bottom: 25px;
}

.formContainer {
    width: 100%;
    padding: 25px 15px;
}

.switch {
    background-color: #09a552 !important;
}

.formError {
    color: #ec464e;
}

.buttons {
    margin-top: 25px;
}

.buttons button:not(:last-child) {
    margin-right: 15px;
}
