.wrapper {
    position: relative;
    width: 100%;
    color: #494949;
    padding: 0px 60px 0px 30px;
    min-width: 500px;
}

.pageTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 26px 0;
    color: #171725;
}

.formStyles {
    padding: 32px;
    background-color: #f8f8f8;
}

.formWrapper {
    max-width: 1000px;
}

.buttonsContainer {
    display: flex;
    margin-top: 25px;
}

.buttonsContainer button:not(:last-child) {
    margin-right: 15px;
}

.highlight {
    color: #09a552;
}
